

html{
	position: relative;
}

body{
	font: 20px/26px arial, sans-serif;
	background-image: url("img/darkness.png");
	background-color: #000;
	margin-top: 30px;
}

.container-fluid {
    background-color: #000;
    border-color: #ff0000;
}

.jumbotron {
	background-color: #ffffff;
}



.jumbotron {
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	background-size: cover;
}



.jumbotron img{
	width: 200px;
	border:5px solid #666;
	
}


h2 {
	color: #000;
}


hr{
	width: 250px;
	border-top: 3px solid #000;
}

section {
	min-height: 600px;
}

.about {
	background-color: #fff;
}

.contact {
	background-color: #2a2a2a;
}

.tkj {
	background-color: #d0d5d4;
}

.akun {
	background-color: #d0d5d4;
}

.geo {
	background-color: #d0d5d4;
}

.kep {
	background-color: #d0d5d4;
}

h2 {
	color: black;
}

.row {
	color: #000;
}



	.footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 175px;
		

	}
.panel-footer {
		color:#fff;
		background-color: #000;
		text-align: center;
	}

	.form-group {
		color:#fff;
		text-align: left;
	}

	 {
		position: left;
	}


